/* css/base.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  background: #ffffff;
  color: #000000;
}

/*
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
}

h1, h2 {
  font-weight: 600;
}

p {
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
*/